{% extends "base.html" %}
{% block titel %}privacy-policy{% endblock titel %}
{% block content %}
<div class="header text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 mx-auto">
          <h1 class="mb-4">Our Privacy Policy</h1>
          <ul class="list-inline">
            <li class="list-inline-item"><a class="text-default" href="/">Home
                &nbsp; &nbsp; /</a></li>
            <li class="list-inline-item text-primary">Our Privacy Policy</li>
          </ul>
        </div>
      </div>
    </div>
    
    <svg class="header-shape-1" width="39" height="40" viewBox="0 0 39 40" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0.965848 20.6397L0.943848 38.3906L18.6947 38.4126L18.7167 20.6617L0.965848 20.6397Z" stroke="#040306"
        stroke-miterlimit="10" />
      <path class="path" d="M10.4966 11.1283L10.4746 28.8792L28.2255 28.9012L28.2475 11.1503L10.4966 11.1283Z" />
      <path d="M20.0078 1.62949L19.9858 19.3804L37.7367 19.4024L37.7587 1.65149L20.0078 1.62949Z" stroke="#040306"
        stroke-miterlimit="10" />
    </svg>
  
    
    <svg class="header-shape-2" width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g filter="url(#filter0_d)">
        <path class="path"
          d="M24.1587 21.5623C30.02 21.3764 34.6209 16.4742 34.435 10.6128C34.2491 4.75147 29.3468 0.1506 23.4855 0.336498C17.6241 0.522396 13.0233 5.42466 13.2092 11.286C13.3951 17.1474 18.2973 21.7482 24.1587 21.5623Z" />
        <path
          d="M5.64626 20.0297C11.1568 19.9267 15.7407 24.2062 16.0362 29.6855L24.631 29.4616L24.1476 10.8081L5.41797 11.296L5.64626 20.0297Z"
          stroke="#040306" stroke-miterlimit="10" />
      </g>
      <defs>
        <filter id="filter0_d" x="0.905273" y="0" width="37.8663" height="38.1979" filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
          <feOffset dy="4" />
          <feGaussianBlur stdDeviation="2" />
          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
          <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
          <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
        </filter>
      </defs>
    </svg>
  
    
    <svg class="header-shape-3" width="39" height="40" viewBox="0 0 39 40" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0.965848 20.6397L0.943848 38.3906L18.6947 38.4126L18.7167 20.6617L0.965848 20.6397Z" stroke="#040306"
        stroke-miterlimit="10" />
      <path class="path" d="M10.4966 11.1283L10.4746 28.8792L28.2255 28.9012L28.2475 11.1503L10.4966 11.1283Z" />
      <path d="M20.0078 1.62949L19.9858 19.3804L37.7367 19.4024L37.7587 1.65149L20.0078 1.62949Z" stroke="#040306"
        stroke-miterlimit="10" />
    </svg>
  
    
    <svg class="header-border" height="240" viewBox="0 0 2202 240" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M1 123.043C67.2858 167.865 259.022 257.325 549.762 188.784C764.181 125.427 967.75 112.601 1200.42 169.707C1347.76 205.869 1901.91 374.562 2201 1"
        stroke-width="2" />
    </svg>
  </div>
  
  <section class="section-sm">
    <div class="container">
        <h2>1. Overview</h2>
        <p>Hello and welcome to Flimbd! In this document, we outline how information is gathered, used, disclosed, and protected during your interactions with our website <a href="https://www.flimbd.com">www.flimbd.com</a> (referred to as the BlogingSite). Please take the time to read through this policy attentively. Your use of or access to our Site implies your acceptance of the conditions laid out in this Privacy Policy.</p>
    
        <h2>2. Details on Information Acquisition</h2>
        <p><strong>Personal Information:</strong> Let us get intimate with your digits— not those you count with, but more like your name and email address. Maybe even whatever else you feel like sharing when you grace our site with your presence, sign up for our newsletter or decide to drop off some content.</p>
        <p><strong>Non-Personal Information:</strong> As per tradition (like most websites do), we might also take note of the non-personal stuff; what browser gets your attention the most, which language makes your heart sing, where you came from before landing here and at what hour (or day) it is that you chose to knock on our virtual door. Data is like a polite host that welcomes all guests. The way we make use of the information you bring is important business. Here are a few ways we can use the details:</p>
    
        <h2>3. How we use this information</h2>
        <ul>
          <li>When we make sure to personalize your experience based on that data, it means that what we deliver as content or products will be specific to your interests.</li>
          <li>We develop our website with this information to ensure it meets your needs better.</li>
          <li>Running contests, promotions, surveys, and other features on our site are also part of the applications.</li>
          <li>Communicating regular updates on your purchase or other items and services through email.</li>
        </ul>
    
        <h2>4. Cookies and Tracking Technologies</h2>
        <p>The activity on our website may be tracked using cookies and similar tracking technologies that store certain information.</p>
    
        <h2>5. Third-Party Use of Information</h2>
        <p>We do not sell, trade or rent your personal information to other companies or third parties. This does not include trusted third parties who assist us in operating our website, conducting our business, or servicing you as long as those parties agree to keep this information confidential.</p>
    
        <h2>6. Security of Your Information</h2>
        <p>Ensuring the safety of your personal information involves putting in place numerous security measures when you key in, send, or retrieve this data.</p>
    
        <p>In some cases, we might decide to include third-party products or services on our website. However, such third-party sites operate under different privacy policies independent of ours. As a result, we distance ourselves from any responsibility or liability for what is contained in these linked sites and their operations.</p>
    
        <p>Modifications in this Privacy Policy may be made at any point. Changes will be relayed to you through the posting of the updated Privacy Policy on this page.</p>
    
        <p>The use of our website implies your acceptance of our website's privacy policy.</p>
    
        <p>Inquiries regarding this Privacy Policy can be directed to us at <a href="https://www.flimbd.com/contact-us/">https://www.flimbd.com/contact-us/</a>.</p>
      
    </div>
  </section>
{% endblock content %}